<div class="col-12">
    <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
            <label htmlFor="name">Leadership Role Name</label>
            <input pInputText id="name" [(ngModel)]="leadershipRole!.name" type="text" required />
        </div>
        <div class="field col-12">
            <label htmlFor="shortName">Short Name</label>
            <input pInputText id="shortName" [(ngModel)]="leadershipRole!.shortName" type="text" required />
        </div>
        <div class="field col-12">
            <label htmlFor="description">Description</label>
            <input pInputTextarea id="description" rows="4" [(ngModel)]="leadershipRole!.description" />
        </div>
        <div class="field col-12">
            <p-toggleButton [(ngModel)]="leadershipRole!.isActive" id="isActive" onLabel="Active" offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{ width: '10em' }"></p-toggleButton>
        </div>
    </div>
    <div class="flex flex-wrap gap-2 align-items-end">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-warning" (click)="closeWindow()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="saveLeadershipRole()"></button>
    </div>
</div>
