<div class="col-12">
    <div class="card">
        <h5>Advanced</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="totalMen">Men</label>
                <p-inputNumber id="totalMen" type="text" [(ngModel)]="attendance.totalMen"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="totalWomen">Women</label>
                <p-inputNumber id="totalWomen" type="text" [(ngModel)]="attendance.totalWomen"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="totalYouthMen">Youth Men</label>
                <p-inputNumber id="totalYouthMen" type="text" [(ngModel)]="attendance.totalYouthMen"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="totalYouthWomen">Youth Women</label>
                <p-inputNumber id="totalYouthWomen" type="text" [(ngModel)]="attendance.totalYouthWomen"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="totalBoys">Boys</label>
                <p-inputNumber id="totalBoys" type="text" [(ngModel)]="attendance.totalBoys"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="totalGirls">Girls</label>
                <p-inputNumber id="totalGirls" type="text" [(ngModel)]="attendance.totalGirls"/>
            </div>
            
        </div>
    </div>
</div>
