<div class="card">
    <h5>{{page_title}}</h5>
    <p-table #dt [value]="branches" dataKey="id" [tableStyle]="{'min-width': '50rem'}" styleClass=" p-datatable-sm"
             [rows]="15" [showCurrentPageReport]="false" [rowsPerPageOptions]="[15,25,50]" [loading]="isLoading"
             [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} branches"
             [globalFilterFields]="['branch.name','branch.physicalAddress','branch.phone1','branch.email']"
             [rowHover]="true">

        <ng-template pTemplate="caption">
            <div class="flex flex-wrap align-items-center justify-content-between">

                <!--Dropdown list of countries and regions-->
                <div class="col-12 md:col-2 flex-order-1 md:flex-order-0">
                    <p-dropdown [options]="groupedRegions" [(ngModel)]="selectedRegion" optionLabel="name" placeholder="Select a Region" [group]="true">
                        <ng-template let-group pTemplate="group">
                            <div class="flex align-items-center">
                                <span>{{ group.label }}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <!--Search bar-->
                <div class="col-12 md:col-3 flex-order-1 md:flex-order-0">
                    <div class="p-inputgroup w-full">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search..." (input)="dt.filterGlobal($event.target, 'contains')" class="pl-6 w-full" autofocus>
                        </span>
                        <button (click)="clear(dt)" type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-warn" type="reset"></button>
                    </div>
                </div>

                <div class="col-12 md:col-7 flex-order-0 md:flex-order-1">
                    <p-toolbar styleClass="p-0 border-none justify-content-end text-right align-items-end">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Add Branch" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                            <button pButton pRipple label="Delete Branch" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedBranches()" [disabled]="!selectedBranches || !selectedBranches.length"></button>
                        </ng-template>

                        <!--ng-template pTemplate="right">
                            <p-fileUpload mode="basic" accept="file/*" [maxFileSize]="100000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                        </ng-template-->
                    </p-toolbar>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name" style="min-width:5rem">
                    <div class="flex justify-content-start align-items-center">
                        Name
                    </div>
                </th>
                <th pSortableColumn="physicalAddress" style="min-width: 5rem">
                    <div class="flex justify-content-start align-items-center">
                        Address
                    </div>
                </th>
                <th pSortableColumn="phone1" style="min-width: 5rem">
                    <div class="flex justify-content-start align-items-center">
                        Phone
                    </div>
                </th>
                <th pSortableColumn="email" style="min-width: 5rem">
                    <div class="flex justify-content-start align-items-center">
                        Email
                    </div>
                </th>
                <th pSortableColumn="longitude" style="min-width: 5rem">
                    <div class="flex justify-content-start align-items-center">
                        Longitude
                    </div>
                </th>
                <th pSortableColumn="latitude" style="min-width: 5rem">
                    <div class="flex justify-content-start align-items-center">
                        Latitude
                    </div>
                </th>

                <th pSortableColumn="ownBuilding" style="min-width: 5rem">
                    <div class="flex justify-content-center align-items-center">
                        Own Building
                    </div>
                </th>
                <th pSortableColumn="isActive" style="min-width: 5rem">
                    <div class="flex justify-content-center align-items-center">
                        Active
                    </div>
                </th>
                <th class="justify-content-center text-center" style="min-width: 5rem;">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-branch>
            <tr>
                <td>
                    <p-tableCheckbox [value]="branches"></p-tableCheckbox>
                </td>
                <td>
                    {{branch.name}}
                </td>
                <td>
                    {{branch.physicalAddress}}
                </td>
                <td>
                    {{branch.phone1}}
                </td>
                <td>
                    {{branch.email}}
                </td>
                <td>
                    {{branch.longitude}}
                </td>
                <td>
                    {{branch.latitude}}
                </td>
                <td class="justify-content-center text-center font-bold">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': branch.ownBuilding, 'false-icon pi-times-circle text-red-500': !branch.ownBuilding}"></i>
                </td>
                <td class="justify-content-center text-center font-bold">
                    <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': branch.isActive, 'false-icon pi-times-circle text-red-500': !branch.isActive}"></i>
                </td>
                <td class="justify-content-end text-right">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button  w-4 h-4 mr-2" (click)="editBranch(branch)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button- p-button-danger w-4 h-2" (click)="deleteBranch(branch)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{branches ? branches.length : 0 }} Branches.
            </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No branches found.</td>
            </tr>
        </ng-template>
    </p-table>
</div> 

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
